:root {
    --textColor: rgba(256, 256, 256, 0.9);
    --bgColor: rgba(0, 0, 0, .35);
    --bgColorTwo: rgba(255, 255, 255, .15);
    --bgColorOpenModal: rgba(0, 0, 0, .80);
    --greenButtonColor: rgba(22, 160, 133, .70);
    --redButtonColor: rgba(207, 0, 15, .70);
    --greyButtonColor: rgba(255, 255, 255, .15);
    --buttonBorderRadius: .75rem;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(/images/library.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 3.5rem 4fr 2rem;
    grid-template-areas:
        'navbar navbar'
        'case side'
        'footer footer';
}

/* ---> When Modal Is Open */

.modalIsActive::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bgColorOpenModal);
    z-index: 1;
}

/* --> Navbar <-- */

.nav {
    width: 100%;
    grid-area: navbar;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 'logo space profile';
    background-color: var(--bgColor);
    color: var(--textColor);
}

img {
    width: 2.5rem;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    gap: .3rem;
    padding-left: 1rem;
}

.profile {
    grid-area: profile;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}


.profile img {
    border-radius: 50%;
}

/* --> Book Case <-- */

.book-case {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    grid-template-rows: repeat(auto-fit, minmax(100px, 300px));
    grid-gap: 1rem;
    padding: 1rem;
    background-color: var(--bgColor);
    margin: 1rem 1rem 1rem 0;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--bgColorTwo);
    color: var(--textColor);
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 1rem;
}

.book-status {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.read-status-button,
.book-change-button,
.book-remove-button {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

/* --> Read Status Button Colors <-- */

.green {
    color: var(--greenButtonColor);
}

.red {
    color: var(--redButtonColor);
}

.grey {
    color: var(--greyButtonColor);
}

.book-change-button {
    color: rgba(37, 116, 169, .9);
}

.book-remove-button {
    color: var(--redButtonColor);
}

/* --> Sidebar <-- */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bgColor);
    margin: 1rem 0 1rem 1rem;
    padding: 2.5rem 1.5rem;
}

.info * {
    margin-bottom: .7rem;
    color: var(--textColor);
}

.info-row {
    display: flex;
    justify-content: space-between;

}

.storage {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--textColor);
}

.delete-storage-button {
    height: 2rem;
    border-radius: var(--buttonBorderRadius);
    border: none;
    background-color: var(--redButtonColor);
    color: var(--textColor);
}

.add-book-button {
    height: 2rem;
    border-radius: var(--buttonBorderRadius);
    border: none;
    background-color: var(--greenButtonColor);
    color: var(--textColor);
}

/* --> Footer <-- */

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 1.2rem;
    color: var(--textColor);
    background-color: var(--bgColor);
}

.footer a {
    text-decoration: none;
    color: white;
}

/* --> Modal <-- */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border: none;
    background-color: rgba(105, 105, 105, .7);
    color: var(--textColor);
    border-radius: .5rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    font-size: 1.5rem;
}

form label {
    margin-bottom: .5rem;
}

form input {
    margin-bottom: .8rem;
    padding: .5rem;
    border: none;
    border-radius: var(--buttonBorderRadius);
    font-size: 1.2rem;
    background-color: var(--bgColor);
    color: var(--textColor);
}

/* --> Inputs Error <--*/

.inputs-error {
    border: 2px solid var(--redButtonColor);
}

form select {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    border-radius: var(--buttonBorderRadius);
    padding: .5rem;
    background-color: var(--bgColor);
    color: var(--textColor);
}

form button {
    padding: .5rem;
    border: none;
    border-radius: var(--buttonBorderRadius);
    background-color: var(--greenButtonColor);
    color: var(--textColor);
    font-size: 1.2rem;
}

.close-modal-button {
    width: 20rem;
    padding: .5rem;
    border: none;
    border-radius: var(--buttonBorderRadius);
    background-color: var(--redButtonColor);
    color: var(--textColor);
    font-size: 1.2rem;
}